.slide {
  padding: 8px;
  overflow: hidden;
  margin: 20px 45px;
  height: 200px;
  overflow: auto;
}

.wrap {
  background-color: #fff;
  position: sticky;
  top: -9px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
}

.icon {
  color: #f97316;
  width: 20px;
  height: 20px;
}
