.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  & li {
    width: 250px;
    overflow: hidden;
    border-radius: 16px;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(95%);
    }
  }
}

.img {
  height: 100%;
}
