.input {
  width: 350px;
  font-size: 20px;
  color: #171717;
  border: 1px solid #171717;
  border-radius: 6px;
  padding: 4px 12px;
  transition: all 250ms ease-in-out;
  font-weight: 400;

  &:is(:focus, :hover) {
    border: 1px solid #f97316;
    color: #f97316;
  }
}

.label {
  font-weight: 600;

  font-size: 24px;
  display: grid;
}
