.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;

  gap: 20px;
  & button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    color: #fff;
    background-color: #171717;
    transition: all 250ms ease-in-out;
    border-radius: 6px;
    font-size: 24px;

    &:hover {
      background-color: #f97316;
    }
  }
}
components